@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
    font-weight: 300;
    color: black;
}

/* Logo and heading */

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #9a9a9a;
}

#logo {
    float: right;
    font-size: 300%;
    margin-right: 25px;
}

/* Nagivation */

#menu {
    font-size: 100%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #9a9a9a;
}